* {
  color: #111;
  background-color: #fff;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  line-height: 2.0;
}

body {
  padding: 4em;
  max-width: 800px;
  margin: 0 auto;
}

logo {
  display: block;
  min-width: 188px;
  min-height: 50px;
  width: calc(188px * 3);
  height: calc(50px * 3);
  padding: 0;
  margin: 0;
  background-image: url("./img/TAPPOY_LOGO_B.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 4em;
}

content {
  display: block;
  margin-left: 2em;
}

li {
  a {
    text-decoration: none;
    color: #3a3;
  }
}

hr {
  border-width: 0.5px;
  border-color: #eee;
  margin: 2em 0;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.company-info {
  margin: 1em;
}

.company-info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}
.company-info-table th {
  text-align: left;
  color: #666;
  font-weight: normal;
  padding: 0.4em 1em 0.4em 0;
  vertical-align: top;
  white-space: nowrap;
  width: 160px;
}
.company-info-table td {
  padding: 0.4em 0;
  vertical-align: top;
}
.company-info-table ul {
  padding: 0;
}
.company-info-table li {
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
